// .slider
.slider {
  background-color: #fff;
  width: 100vw;
}

.swiper-container {
  width: 100%;
  // height: 200px;
}

.swiper-slide {
  .cover {
    height: 200px;

    a {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      height: 200px;
      text-indent: -999999em;
    }
  }

  .info {
    padding: 24px 20px 34px;
    position: relative;

    &::after {
      background: #f0f1f3;
      bottom: 0;
      content: ' ';
      display: block;
      height: 1px;
      margin: 0 auto;
      position: absolute;
      width: calc(100% - 40px);
    }
  }

  h3 {
    box-orient: vertical;
    display: box;
    font-size: 22px;
    -webkit-line-clamp: 2;
    line-height: 36px;
    overflow: hidden;
  }

  .meta {
    color: $secondary-color;
    font-size: 12px;
    line-height: 20px;
    margin: 7px 0;
  }

  .desc {
    box-orient: vertical;
    color: $secondary-color;
    display: box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-align: justify;
  }
}

.swiper-pagination {
  bottom: auto !important;
  top: 180px;
}

.swiper-pagination-bullet {
  background-color: #fff;
  border-radius: 3px;
  height: 6px;
  opacity: 1;
  width: 6px;
}

.swiper-pagination-bullet-active {
  background-color: #1b5fa0;
  width: 18px;
}

// .top
.home {
  &.paged {
    .top {
      display: none;
    }
  }
}

.top-content {
  padding: 18px 0 4px;
}

.top-item {
  width: 220px;

  &:first-child {
    padding-bottom: 16px;
    width: 100%;

    .top-item-content {
      @include flex-between;
    }

    .top-item-cover {
      height: 198px;
      width: calc(100% - 24px - 290px);

      img {
        height: 198px;
        width: 100%;
      }
    }

    .top-item-info {
      margin-top: 0;
      width: 293px;

      h3 {
        font-size: 18px;
        height: auto;
      }
    }

    .top-item-desc {
      display: box !important;
    }
  }

  .top-item-content {
    @include flex-column;
  }

  .top-item-cover {
    border-radius: 4px;
    // height: 116px;
    overflow: hidden;
    width: 218px;

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    img {
      border-radius: 3px;
      height: 116px;
      object-fit: cover;
      width: 218px;
    }
  }
}

.top-item-info {
  margin-top: 16px;
  width: 100%;

  h3 {
    box-orient: vertical;
    display: box;
    height: 48px;
    -webkit-line-clamp: 2;
    line-height: 24px;
    overflow: hidden;
  }
}

.top-item-meta {
  color: $secondary-color;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 7px;
}

.top-item-desc {
  box-orient: vertical;
  color: $secondary-color;
  display: none !important;
  display: box;
  // line-height: 21px;
  font-size: 14px;
  height: 63px;
  -webkit-line-clamp: 3;
  overflow: hidden;
  padding-top: 11px;
}

.top-item-tags {
  color: $light-color;
  font-size: 13px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;

  .iconfont {
    position: relative;
    top: 1px;
  }
}

// .qa
.qa {
  h2 {
    svg {
      top: 4px;
    }
  }

  ul {
    margin-top: 10px;
  }

  li {
    padding-top: 10px;

    a {
      max-width: calc(100vw - 50px);
      // max-width: calc(100% - 120px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: keep-all;

      .iconfont {
        color: $light-color;
        font-size: 15px;
        margin-right: 10px;
      }
    }

    span {
      box-sizing: border-box;
      color: $secondary-color;
      font-size: 14px;
      padding-left: 5px;
    }
  }

  .section-right {
    a {
      &:first-child {
        margin-right: 8px;
        padding-right: 8px;
        position: relative;

        &::after {
          background-color: #f0f1f3;
          bottom: 0;
          content: '';
          position: absolute;
          right: 0;
          top: 2px;
          width: 1px;
        }
      }
    }
  }
}

.qa-content {
  position: relative;

  &.renew {
    &::after {
      background-color: #fff;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .qa-renew {
      display: block;
    }
  }

  &.current {
    ul {
      &.latest {
        display: block;
      }

      &.offset {
        display: none;
      }
    }
  }

  ul {
    &.latest {
      display: none;
    }

    &.offset {
      display: block;
    }
  }
}

.qa-renew {
  color: $light-color;
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  .iconfont {
    animation: qaRenew 1s infinite linear;
    font-size: 40px;
    transform-origin: center center;
  }
}

@keyframes qaRenew {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
    transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

// .latest
.latest {
  &.section {
    max-width: 772px;
    width: 100vw;

    .section-title {
      margin-bottom: 0.5em;
    }

    .section-right {
      a {
        background: url('../images/feed.png') no-repeat;
        background-size: cover;
        display: block;
        height: 30px;
        text-indent: -99999em;
        width: 112px;
      }
    }
  }
}

.latest-item {
  margin: 0 -24px;
  padding: 23px 24px;
  position: relative;

  &::after {
    border-bottom: 1px solid #f0f1f3;
    bottom: 0;
    content: '';
    left: 24px;
    position: absolute;
    right: 24px;
  }

  &:hover {
    background: #f9fafb;
  }
}

.latest-item-content {
  position: relative;
}

.latest-item-cover {
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0;
  height: 75px;
  margin-left: 20px;
  order: 1;
  overflow: hidden;
  width: 135px;

  img {
    border-radius: 3px;
    display: block;
    height: 75px;
    object-fit: cover;
    width: 135px;

    &.lazyloaded {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.latest-item-info {
  flex: auto;
  margin-top: -3px;
  overflow: hidden;
}

.latest-item-title {
  box-orient: vertical;
  display: box;
  font-size: 16px;
  -webkit-line-clamp: 2;
  line-height: 26px;
  max-height: 52px;
  min-height: 26px;
  overflow: hidden;

  span {
    &.badge {
      margin-right: 0.3em;
    }
  }
}

.latest-item-meta {
  color: $secondary-color;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 7px;

  span {
    margin-right: 3px;
    padding-right: 6px;
    position: relative;

    &::after {
      background: #cfcfcf;
      bottom: 2px;
      position: absolute;
      right: 0;
      // content: "";
      top: 3px;
      width: 1px;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      &::after {
        content: none;
      }
    }
  }

  .author {
    a {
      @include secondary-link;
    }
  }

  // .cat {
  //   a {
  //     opacity: 0;
  //     transition: none;
  //   }
  // }
}

.latest-item-desc {
  box-orient: vertical;
  color: $secondary-color;
  display: box;
  font-size: 14px;
  height: 45px;
  -webkit-line-clamp: 2;
  line-height: 21px;
  overflow: hidden;
  padding-top: 3px;
}

.latest-item-tags {
  bottom: 0;
  color: $light-color;
  font-size: 13px;
  left: 0;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 436px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  word-break: keep-all;

  .iconfont {
    left: 2px;
    line-height: 1;
    margin-right: 4px;
    position: relative;
    top: 1px;
  }
}
