// None	None	Always
.dp-none {
  display: none;
}

.dp-block {
  display: block;
}

.site-main {
  margin-top: 45px;
}

// sm	@media screen and (min-width: 35.5em)	≥ 568px
@media screen and (min-width: 35.5em) {
  .dp-sm-block {
    display: block;
  }

  .dp-sm-none {
    display: none;
  }
}

// md	@media screen and (min-width: 48em)	≥ 768px
@media screen and (min-width: 48em) {
  .dp-md-block {
    display: block;
  }

  .dp-md-none {
    display: none;
  }

  .footer-navigation {
    li {
      flex: 0 0 20%;
    }
  }

  .content-area {
    .table-responsive {
      max-width: calc(100% - 40px);
    }
  }

  /* VANILLA GALLERIES */

  .gallery-columns-2 .gallery-item {
    max-width: 50%;
  }

  .gallery-columns-3 .gallery-item {
    max-width: 33.33%;
  }

  .gallery-columns-4 .gallery-item {
    max-width: 25%;
  }

  .gallery-columns-5 .gallery-item {
    max-width: 20%;
  }

  .gallery-columns-6 .gallery-item {
    max-width: 16.66%;
  }

  .gallery-columns-7 .gallery-item {
    max-width: 14.28%;
  }

  .gallery-columns-8 .gallery-item {
    max-width: 12.5%;
  }

  .gallery-columns-9 .gallery-item {
    max-width: 11.11%;
  }
}

// lg	@media screen and (min-width: 64em)	≥ 1024px
@media screen and (min-width: 64em) {
  .dp-lg-block {
    display: block;
  }

  .dp-lg-none {
    display: none;
  }

  .qa {
    li {
      a {
        max-width: calc(100% - 120px);
      }
    }
  }

  .latest-item-meta,
  .posts-item-meta {
    span {
      &::after {
        content: '';
      }
    }
  }

  .top-item {
    &:first-child {
      .top-item-content {
        @include flex-row;
      }
    }
  }

  .latest-item-content,
  .posts-item-content {
    padding-bottom: 28px;
  }

  .latest-item-cover,
  .posts-item-cover {
    height: 116px;
    width: 208px;

    img {
      height: 116px;
      width: 208px;
    }
  }

  .latest-item-title {
    font-size: 18px;
  }

  .post-title {
    font-size: 28px;
    line-height: 36px;
  }

  .post-content {
    blockquote {
      // padding-left: 1em;
      font-size: 16px;
      margin: 1em 3em 1em 2em;
    }
  }

  .nothing {
    .icon {
      transform: scale(1);
    }
  }

  .footer-guide {
    padding: 48px 0 37px;
  }

  .footer-navigation {
    margin-bottom: 1em;

    li {
      @include flex-left;

      flex: none;
    }

    a {
      margin-right: 10px;
    }
  }
}

// xl	@media screen and (min-width: 80em)	≥ 1280px
@media screen and (min-width: 80em) {
  .dp-xl-block {
    display: block;
  }

  .dp-xl-none {
    display: none;
  }

  .site-header {
    height: 68px;
    padding-left: 0;
    padding-right: 0;
    position: static;
  }

  .site-title {
    height: 30px;
    margin-left: 7px;

    // height: 40px;
    a {
      height: 30px;
      // height: 40px;
    }
  }

  .site-main {
    margin-top: 0;
  }

  .content-area {
    width: 772px;
  }

  .widget-area {
    width: 340px;
  }

  .single {
    .site-main {
      padding-top: 56px;
    }

    .content-area {
      padding-left: 0;
      padding-right: 0;
      width: 736px;
    }
  }

  .posts {
    padding-left: 0;
    padding-right: 0;
  }

  .page {
    .content-area {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .error404 {
    .site-main {
      height: calc(100vh - 68px - 64px);
    }
  }

  .search-no-results {
    .site-main {
      height: calc(100vh - 68px - 64px - 50px);
    }
  }
}
