.single {
  .site-main {
    background: #fff;
    padding: 56px 0 40px;
    padding-top: 24px;
  }

  .content-area {
    // width: 736px;
    padding-left: 20px;
    padding-right: 20px;
  }

  figure {
    opacity: 0;
  }
}

.post-title {
  color: #141414;
  font-size: 22px;
  line-height: 30px;
}

.post-subtitle {
  border-left: 4px solid #e5e9f2;
  color: #999;
  margin-bottom: 0;
  padding-left: 1em;
}

.post-meta {
  color: $secondary-color;
  font-size: 14px;
  line-height: 1;
  padding-top: 1em;

  p {
    margin: 0;
    padding-top: 10px;
  }

  span {
    margin-right: 3px;
    padding-right: 6px;
    position: relative;

    &::after {
      background: #cfcfcf;
      bottom: 2px;
      content: '';
      position: absolute;
      right: 0;
      top: 5px;
      width: 1px;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      &::after {
        content: none;
      }
    }
  }

  a {
    @include secondary-link;
  }
}

.post-content {
  color: #4a4a4a;
  line-height: 1.65;
  overflow: hidden;
  padding: 1em 0;
  word-break: break-word;

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  h2,
  h3,
  h4 {
    color: #353535;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    word-break: break-word;
  }

  .table-responsive {
    max-width: calc(100vw - 40px);
  }
}

// 文章简介
.post-excerpt {
  background: #f8f9fa;
  border-radius: 4px;
  font-size: 94%;
  line-height: 1.8;
  padding: 16px 20px;
}

// .single {
//   .swiper-slide {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }

// .gallery {
//     width: 0;
//     height: 0;
//     overflow: hidden;
// }

/* GALLERIES */

.gallery {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 3em 0 3em -0.8em;
  width: calc(100% + 1.6em);
}

.gallery-item {
  margin: 0.8em 0;
  padding: 0 0.8em;
  width: 100%;
}

.gallery-caption {
  display: block;
  margin-top: 0.8em;
  text-align: center;
}

// 受密码保护文章
form {
  &.post-password-form {
    opacity: 0;

    p {
      label {
        float: left;

        input[type=password] {
          border: 1px solid #d8dedf;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 16px;
          outline: 0;
          padding: 8px 15px 9px;
          resize: none;
          -webkit-user-modify: read-write-plaintext-only;

          &:focus,
          &:active {
            border-color: $secondary-color;
          }
        }
      }

      input[type=submit] {
        margin-left: 5px;
      }
    }
  }
}

.post-original {
  color: $secondary-color;
  font-size: 14px;
  line-height: 1;
}

.post-share {
  span,
  i {
    display: inline-block;
  }

  i {
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
    height: 24px;
    margin-right: 5px;
    padding: 2px;
    text-align: center;
    width: 24px;

    &:hover {
      color: #fff;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .share-wechat,
  .share-qq {
    font-size: 20px;
    line-height: 24px;
  }

  @each $name,
    $color in (weibo, #eb192d),
    (wechat, #00ce0d),
  (qq, #70c1eb) {
    .share-#{$name} {
      border: 1px solid $color;
      color: $color;

      &:hover {
        background-color: $color;
      }
    }
  }
}

// 作者信息
.post-author {
  margin-bottom: 2em;
}

.post-author-title {
  border: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 16px;
  padding: 0;
  position: relative;
  text-indent: 12px;

  &::before {
    background: $light-color;
    border-radius: 4px;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
  }
}

.post-author-content {
  @include flex-middle;
}

.post-author-face {
  border-radius: 50%;
  flex: 0 0 64px;
  height: 64px;
  overflow: hidden;
  width: 64px;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  img {
    border-radius: 50%;
  }
}

.post-author-info {
  color: $secondary-color;
  font-size: 14px;
  padding-left: 20px;

  p {
    margin-bottom: 5px;
    margin-top: 0;
  }

  .regCount {
    span {
      color: $light-color;
      font-weight: bold;
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  .introduce {
    line-height: 1.3;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

.post-prevNext {
  border: 1px solid #f0f1f3;
  border-radius: 3px;
  color: $secondary-color;
  font-size: 14px;
  margin-bottom: 2em;
  padding: 20px;

  p {
    margin-bottom: 10px;
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    @include secondary-link;
  }

  span {
    margin-right: 5px;
  }
}

// 相关文章
.comments-area {
  margin-bottom: 1em;
}

.comment-reply-title {
  @include reset-box-model;

  font-size: 20px;
  line-height: 1;
  margin-bottom: 16px;
  position: relative;
  text-indent: 12px;

  &::before {
    background: $light-color;
    border-radius: 4px;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
  }
}

.comment-form-comment {
  textarea {
    max-height: 90px;
    min-height: 63px;
  }
}

.comment-form {
  label {
    display: none;
  }

  input,
  textarea {
    width: 100%;
  }

  .logged-in-as {
    font-size: 14px;
  }

  .comment-notes {
    color: $secondary-color;
    font-size: 90%;
  }

  .form-submit {
    .submit {
      opacity: 0;
      width: auto;
    }
  }
}

@mixin inputTextarea {
  @include reset-focus;

  border: 1px solid #d8dedf;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 9px 15px 10px;
  resize: none;
  // overflow-y: auto;
  -webkit-user-modify: read-write-plaintext-only;
  width: 100%;

  &:focus,
  &:active {
    border-color: #828a92;
  }

  &::input-placeholder,
  &::placeholder,
  &:placeholder,
  &:input-placeholder {
    color: $secondary-color;
  }
}

.comment-form-comment {
  textarea {
    @include inputTextarea;
  }
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
  input {
    @include inputTextarea;
  }
}

.comment-list {
  @include no-bullets;

  margin-bottom: 1em;

  li {
    &.comment {
      border-top: 1px solid #f0f1f3;
      padding: 16px 0;
    }
  }

  ol {
    &.children {
      margin-left: 40px;
      padding-left: 15px;
      position: relative;

      &::before {
        background: #f0f1f3;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: 4px;
      }
    }
  }
}

.comment-meta {
  @include flex;
  @include flex-between;
}

.comment-author {
  img {
    border-radius: 50%;
    margin: 0;
  }

  .fn {
    color: $secondary-color;
    font-weight: normal;
    padding-left: 10px;

    a {
      color: $secondary-color;

      &:hover {
        color: #686e75;
      }
    }
  }

  .says {
    opacity: 0;
  }
}

.comment-metadata {
  a {
    color: $secondary-color;
    font-size: 14px;

    &:hover {
      color: #686e75;
    }
  }
}

.comment-reply-link {
  background: url(../images/icon-reply.png) left 50% no-repeat;
  background-size: 20px 20px;
  color: $secondary-color;
  font-size: 14px;
  padding-left: 22px;

  &:hover {
    color: #686e75;
  }
}

.comments-title {
  color: $secondary-color;
  font-size: 16px;
  margin-bottom: 1em;
}

.comment-body {
  padding-bottom: 5px;
}

.reply {
  text-align: right;
}

.comment-form-cookies-consent {
  @include flex;
  @include flex-middle;

  input {
    margin-right: 5px;
    width: 16px;
  }

  label {
    display: inline-block;
  }
}
