/* Colors
   ========================================================================== */

$primary-color: #3c4043;
$secondary-color: #828a92;
$primary-background-color: #fff;
$light-color: #1458d4;

/* Links
   ========================================================================== */

$primary-link: #1458d4;
$secondary-link: #303030;
