body {
  &#tinymce {
    &.wp-editor {
      color: #4a4a4a;
      font-family: Segoe UI, SegoeUI, Microsoft YaHei, 微软雅黑, SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 16px;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      line-height: 1.65;
      text-size-adjust: 100%;

      a {
        color: #1458d4;
        text-decoration: none;

        &:hover {
          color: #387bf4;
        }
      }

      h2,
      h3,
      h4 {
        color: #353535;
      }

      h2 {
        font-size: 22px;
      }

      h3 {
        font-size: 18px;
      }

      h4 {
        font-size: 16px;
      }

      p {
        word-break: break-word;
      }

      blockquote {
        border-left: 4px solid #e5e9f2;
        color: #999;
        font-size: 16px;
        font-size: 14px;
        margin: 1em 3em 1em 2em;
        padding: 0 0 0 1em;
        position: relative;
      }

      code {
        background-color: rgba(27, 31, 35, 0.05);
        border-radius: 3px;
        font-size: 85%;
        padding: 0.2em 0.4em;
      }

      img {
        max-width: 100%;
      }

      .wp-caption {
        background: #fff;
        max-width: 96%;
        padding: 5px 3px 10px;

        &.aligncenter {
          text-align: center;
        }
      }

      .wp-caption-dt {
        img {
          border: 1px solid #f0f0f0;
        }
      }

      .wp-caption-dd {
        font-size: 80%;
        font-style: italic;
        opacity: 0.8;
        padding-top: 7px;
      }

      /* Tables
            ========================================================================== */
      table {
        &.pure-table {
          font-size: 86%;
          width: 100%;
        }
      }
      // https://v3.bootcss.com/css/#tables-responsive
      .table-responsive {
        min-height: 0.01%;
        overflow-x: auto;
      }

      .table-nowrap {
        th,
        td {
          white-space: nowrap;
        }
      }

      .table-wrap {
        th,
        td {
          word-wrap: break-word;
        }
      }

      /*!
            Pure v1.0.1
            Copyright 2013 Yahoo!
            Licensed under the BSD License.
            https://github.com/pure-css/pure/blob/master/LICENSE.md
            */
      .pure-table {
        border: 1px solid #cbcbcb;

        /* Remove spacing between table cells (from Normalize.css) */
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
      }

      .pure-table caption {
        color: #000;
        font: italic 85%/1 arial, sans-serif;
        padding: 1em 0;
        text-align: center;
      }

      .pure-table td,
      .pure-table th {
        border-left: 1px solid #cbcbcb;

        /*  inner column border */
        border-width: 0 0 0 1px;
        font-size: inherit;
        margin: 0;
        overflow: visible;

        /* to make ths where the title is really long work */
        padding: 0.5em 1em;

        /* cell padding */
      }

      .pure-table thead {
        background-color: #e0e0e0;
        color: #000;
        text-align: left;
        vertical-align: bottom;
      }

      /*
            striping:
            even - #fff (white)
            odd  - #f2f2f2 (light gray)
            */
      .pure-table td {
        background-color: transparent;
      }

      .pure-table-odd td {
        background-color: #f2f2f2;
      }

      /* nth-child selector for modern browsers */
      .pure-table-striped tr:nth-child(2n-1) td {
        background-color: #f2f2f2;
      }

      /* BORDERED TABLES */
      .pure-table-bordered td {
        border-bottom: 1px solid #cbcbcb;
      }

      .pure-table-bordered tbody > tr:last-child > td {
        border-bottom-width: 0;
      }

      /* HORIZONTAL BORDERED TABLES */
      .pure-table-horizontal td,
      .pure-table-horizontal th {
        border-bottom: 1px solid #cbcbcb;
        border-width: 0 0 1px;
      }

      .pure-table-horizontal tbody > tr:last-child > td {
        border-bottom-width: 0;
      }
    }
  }
}
