* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.6;
}

.site {
  overflow: hidden;
  padding: 10px;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.head {
  padding-top: 10px;
  text-align: center;
}

.head img {
  max-width: 120px;
}

.filter {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.filter-title {
  white-space: nowrap;
}

.category,
.images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.images {
  justify-content: center;
}

.category button {
  padding: 0;
  border: none;
  background: transparent;
  margin: 0 8px 0 0;
  cursor: pointer;
  color: #666;
}

.category button:hover, .category button:focus, .category button:active {
  color: #0000ee;
  text-decoration: underline;
  outline: none;
}

.category button.current {
  color: red;
  text-decoration: underline;
}

.image-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.image-item img {
  cursor: zoom-in;
}

.image-item p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 85%;
  color: #666;
}

.pagenavi {
  margin: 1em 0;
  text-align: center;
}

.pagenavi a {
  display: none;
  margin-left: 10px;
  margin-right: 10px;
}

.pagenavi a.show {
  display: inline-block;
}

@-webkit-keyframes swal2-show {
  0% {
    transform: scale(0.7) !important;
  }
  100% {
    transform: scale(1) !important;
  }
}

@keyframes swal2-show {
  0% {
    transform: scale(0.7) !important;
  }
  100% {
    transform: scale(1) !important;
  }
}

.swal2-popup {
  width: auto !important;
}

.swal2-image {
  margin-top: 0 !important;
}

.swal2-html-container {
  font-size: 16px !important;
}

.swal2-html-container a:focus {
  outline: none;
}

.swal2-styled {
  font-size: 16px !important;
}

.swal2-styled:focus {
  box-shadow: none !important;
}

@media screen and (min-width: 48em) {
  .head {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .head img {
    max-width: 170px;
  }
  .filter {
    font-size: 16px;
  }
}
