* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.6;
}

.site {
  overflow: hidden;
  padding: 10px;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.head {
  padding-top: 10px;
  text-align: center;

  img {
    max-width: 120px;
  }
}

.filter {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.filter-title {
  white-space: nowrap;
}

.search {
  text-align: center;
}

.search-text,
.search-btn {
  &:focus {
    outline: none;
  }
}

.search-text {
  padding: 9px 12px;
  max-width: calc(100vw - 90px);
  border: 1px solid rgb(48, 133, 214);
  border-radius: .25em 0 0 0.25em;
}

.search-btn {
  padding: .625em 2em;
  box-shadow: none;
  font-weight: 500;
  box-sizing: border-box;
  display: inline-block;
  border-left-color: rgb(48, 133, 214);
  border-right-color: rgb(48, 133, 214);
  border: 0;
  border-radius: 0 .25em .25em 0;
  background: initial;
  background-color: #3085d6;
  color: #fff;
  cursor: pointer;
}

.category,
.images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.images {
  justify-content: center;
}

.category {
  button {
    padding: 0;
    border: none;
    background: transparent;
    margin: 0 8px 0 0;
    cursor: pointer;
    color: #666;

    &:hover,
    &:focus,
    &:active {
      color: rgb(0, 0, 238);
      text-decoration: underline;
      outline: none;
    }

    &.current {
      color: rgb(255, 0, 0);
      text-decoration: underline;
    }
  }
}

.image-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;

  img {
    cursor: zoom-in;
  }

  p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 85%;
    color: #666;
  }
}

.pagenavi {
  margin: 1em 0;
  text-align: center;

  a {
    display: none;
    margin-left: 10px;
    margin-right: 10px;

    &.show {
      display: inline-block;
    }
  }
}

@-webkit-keyframes swal2-show {
  0% {
    transform: scale(0.7) !important;
  }

  100% {
    transform: scale(1) !important;
  }
}

@keyframes swal2-show {
  0% {
    transform: scale(0.7) !important;
  }

  100% {
    transform: scale(1) !important;
  }
}

.swal2-popup {
  width: auto !important;
}

.swal2-image {
  margin-top: 0 !important;
}

.swal2-html-container {
  font-size: 16px !important;

  a {
    &:focus {
      outline: none;
    }
  }
}

.swal2-styled {
  font-size: 16px !important;

  &:focus {
    box-shadow: none !important;
  }
}

@media screen and (min-width: 48em) {
  .head {
    padding-top: 20px;
    padding-bottom: 10px;

    img {
      max-width: 170px;
    }
  }

  .filter {
    font-size: 16px;
  }
}