* {
  box-sizing: border-box;
}

body {
  padding: 8px;
  font-size: 16px;
}

img {
  max-width: 100%;
}

.site {
  overflow: hidden;
}

.material-icons {
  width: 1em;
  height: 1em;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.icon-lists {
  display: flex;
  flex-wrap: wrap;
}

.icon-item {
  padding: 10px 16px;
  flex: 0 0 300px;
  display: flex;
  align-items: center;
}

.icon-item:hover {
  background-color: #e0e0e0;
}

.icon-item span {
  margin-left: 10px;
}
